.cover {
	border: 5px;
	border-radius: 10px;
}

.info {
	margin: 50px;
	font-size: 25px; 
}

.jumbotron label {
	column-count: 2;
}

.jumbotron input {
	column-count: 4;
}

.jumbotorn button {
	column-count: 6;
}

#Results {
	display: flex;
}